<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xin Chào</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= mainCssUrl %>">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <section class="body_container">
        <h1 style="text-align: center;">STUDENT MANAGE</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">
                    <div class="content">
                        #
                    </div>
                </th>
                <th scope="col">
                    <div class="content">
                        Name
                    </div>
                </th>
                <th scope="col">
                    <div class="content">
                        Age
                    </div> 
                </th>
                <th scope="col">
                    <div class="content">
                        Avatar
                    </div>
                </th>
                <th scope="col">
                    <div class="content">
                        Class
                    </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                    <div class="content">
                        1
                    </div>
                </th>
                <td>
                    <div class="content">
                        Mèo
                    </div>
                </td>
                <td>
                    <div class="content">
                        20
                    </div>
                </td>
                <td>
                    <div class="content">
                        <img src="https://i.pinimg.com/736x/82/4a/1b/824a1b71fc518ce8f2fce28b5f2d6180.jpg" style="width: 50px; height: 50px; border-radius: 50%;">
                    </div>
                </td>
                <td>
                    <div class="content">
                        JS230315
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </section>
</body>
</html>